create_repository.sh
crossbuilder
shell-adb-common.sh
sync_with_device
debs_*

*.stash
*.geany
po/*.mo
Makefile
*.so
*.so.1
*.so.1.0
*.so.1.0.0
moc_*.cpp
moc_*.h
*.moc
*.a
*target_wrapper.sh
tests/unittests/ut_editor/ut_editor
tests/unittests/ut_keyboardgeometry/ut_keyboardgeometry
tests/unittests/ut_keyboardsettings/ut_keyboardsettings
tests/unittests/ut_languagefeatures/ut_languagefeatures
tests/unittests/ut_repeat-backspace/ut_repeat-backspace
tests/unittests/ut_text/ut_text
tests/unittests/ut_word-candidates/ut_word-candidates
tests/autopilot/build/
tests/autopilot/ubuntu_keyboard.egg-info/
debian/debhelper-build-stamp
debian/files
